html {
  font-family: 'Stylish', sans-serif;
  font-size: 14px;
  background: url(https://images.pexels.com/photos/995301/pexels-photo-995301.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
}
body,html {
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  color: white;
  font-size: 54px;
  margin-bottom: -15vh;
  margin-left: 50vh;
  background: rgba(0,0,0,0.4);
  width: 50%;
  animation-duration: 3s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
kbd {
  text-decoration: underline;
  font-weight: bold;
  font-size: 3rem;
}
.keys {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.key {
  border: 8px solid red;
  border-radius: 80%;
  margin: 1rem;
  font-size: 2rem;
  padding: 1rem 1rem;
  transition: all .07s ease;
  width: 20rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
}
.playing {
  transform: scale(2.1);
  border-color: #468499;
  box-shadow: 0 0 1rem #468499;
}
.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: white;;
}
footer {
    position: fixed;
    bottom: 0vh;
    width: 100vw;
    height: 6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #468499;
    z-index: 2;
  }
footer p {
    text-decoration: none;
    text-align: center;
    color: white;
    margin: 10px;
    font-weight: bolder;
    font-size: 20px;
}
